.clearfix{
    display: table;
    vertical-align: middle;
    clear: both;
}




.container .inner-container{
    width: 40%;
    vertical-align: middle;
    margin: 0 auto;
}
.inner-container .tab-view{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.router-div{
    display: table;
    width: 100%;
}
.inner-container .tab-view ul{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    /* padding: 18px 10px; */
    margin-bottom: 10px;
}

.inner-container .tab-view ul li{
    width: 50%;
    float: left;
    /* background-color: aliceblue; */
    font-weight: 600;
    
    margin: 0 auto 10px;
    vertical-align: middle;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #3d4a6e;
}

.inner-container .tab-view ul li a{
    width: 50%;
    /* float: left; */
    text-decoration: none;
    font-weight: 600;
    
   /* color: white; */
   color: #3d4a6e;
    padding: 9px;
    margin-bottom: 10px;
    text-align: center;
}

.inner-container .tab-view ul li.signup-li{
    border-left: 1px solid #3d4a6e;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    /* background-color:rgba(63,76,107,1); */
    /* color: white; */
    color: #3d4a6e;


}

.inner-container .tab-view ul li.signin-li{
    border-left: 1px solid #3d4a6e;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    color: #3d4a6e;
    
    /* background-color: rgba(31,59,8,1); */
}

.inner-container .tab-view ul li.signin-li a{
    color: #3d4a6e !important;
}

.inner-container .tab-view ul li.signin-li:hover, .inner-container .tab-view ul li.signin-li:focus, .inner-container .tab-view ul li.signin-li:active{
    background-color: rgba(63,76,107,1);
    color: white;
}

.inner-container .tab-view ul li.signin-li a:hover, .inner-container .tab-view ul li.signin-li a:focus, .inner-container .tab-view ul li.signin-li a:active{
    color: white !important;
}

.inner-container .tab-view ul li.signup-li:hover,
.inner-container .tab-view ul li.signup-li:active,
.inner-container .tab-view ul li.signup-li:focus
{
    color: #3d4a6e !important;
    background-color: rgba(63,76,107,1);
}
.inner-container .tab-view ul li.signup-li a:hover,
.inner-container .tab-view ul li.signup-li a:focus,
.inner-container .tab-view ul li.signup-li a:active{
    color: white !important;
}
